<main>
    <!-- SECCION HERO -->
    <section>
        <div class="container-fluid img-container">
            <img src="../../../../assets/incubadora.png" class="img-fluid img "  alt="home">  
        </div> 
    </section>
    <section>
        <div class="container-fluid ms-5">
            <div class="row mt-5 mb-5">
              <div class="col-sm-9 ps-5 text-container">
                <h2>Sobre la incubadora del N.O.C !!</h2>    
                <p class="text-justify"><strong>¡Hola!</strong> <br><br>
                    Somos una empresa que apoya a emprendedores, brindándoles herramientas para alcanzar el éxito. 
                    Incubadora del NOC te brindara las herramientas que estás necesitando para hacer realidad tus sueños, asesorandote sobre todos los temas indispensables para que tú emprendimiento crezca. <br>
                    <br>Nos encontramos en Mitre 757.</p>
              </div>
              <div class="col-sm-2 ">
                <img src="../../../../assets/340339769_6254340777976086_2515298345645346808_n.webp" class="img-thumbnail  img-r" alt="">
              </div>
            </div>
          </div>
          
          <div class="container-fluid bg-grey pt-5 pb-5 mb-5 ps-4">
            <div class="row" >
              <div class="col-sm-2 ">
                <img src="../../../../assets/340499064_137705415916771_8637586137884970163_n.webp" class="img-thumbnail ms-5 img-r" alt="">
              </div>
              <div class="col-sm-9 ps-5 text-container ms-3">
                <h2 class="">Ofrecemos una amplia variedad de capacitaciones y seminarios</h2>    
                <p class="text-justify">Y ademas otros cursos y capacitaciones para que puedas lograr las metas del emprendedor !
                <strong>Mira nuestros cursos !!</strong> </p>
              </div>
            </div>
          </div>
          
    </section>


    <!-- <section style="margin: 20px;">
        <h2>Cursos disponibles</h2>
        <hr>
        <div id="showAllCourses" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button *ngFor="let course of courses; let i = index" type="button" data-bs-target="#showAllCourses"
                    [attr.data-bs-slide-to]="i" aria-current="true" aria-label="..." [ngClass]="{'active': i == 0}">
                </button>
            </div>

            <div class="carousel-inner">
                <div *ngFor="let course of courses; let i = index" class="carousel-item" [ngClass]="{'active': i == 0}">
                    <img src="../../../../assets/sunset.jpg" class="d-block w-100" alt="imagen" style="height: 450px;">
                    <div class="carousel-caption d-none d-md-block">
                        <a class="nav-link" [routerLink]="['/cursos/details', course.id]">
                            <h3>{{course.courseName}}</h3>
                            <small>{{course.shortDescription}}</small>
                        </a>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#showAllCourses" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#showAllCourses" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </section> -->
</main>