<main>
    <!-- SECCION LOGIN -->
    <!-- <section class="main_section">
        <div class="container-fluid bg-white shadow px-0" id="contentForm">
            
            <div class="row align-items-stretch mt-4">
               
                <div class="col bg_sections bg d-none d-lg-block col-md-6 col-lg-6 col-xl-7 ">
                </div>
                <div class="col bg-white p-5">
                    <div *ngIf="mostrarDiv;else templateName">
                        <app-login-form [estado]="this.mostrarDiv" (newItemEvent)="cambiar($event)"></app-login-form>
                    </div>
                    <ng-template #templateName>
                        <app-register-form [estado]="this.mostrarDiv"
                            (newItemEvent)="cambiar($event)"></app-register-form>
                    </ng-template>
                </div>
            </div>
        </div>
    </section> -->
    <section style="margin: 20px;">
        <h2>Cursos disponibles</h2>
        <hr>
        <div id="showAllCourses" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button *ngFor="let course of courses; let i = index" type="button" data-bs-target="#showAllCourses"
                    [attr.data-bs-slide-to]="i" aria-current="true" aria-label="..." [ngClass]="{'active': i == 0}">
                </button>
            </div>

            <div class="carousel-inner">
                <div *ngFor="let course of courses; let i = index" class="carousel-item" [ngClass]="{'active': i == 0}">
                    <img src="../../../../assets/sunset.jpg" class="d-block w-100" alt="imagen" style="height: 450px;">
                    <div class="carousel-caption d-none d-md-block">
                        <a class="nav-link" [routerLink]="['/cursos/details', course.id]">
                            <h3>{{course.courseName}}</h3>
                            <small>{{course.shortDescription}}</small>
                        </a>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#showAllCourses" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#showAllCourses" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </section>
</main>