<div class="" style="margin: 20px; display: flex; justify-content: center;">
  <div class="card  rounded-4 shadow-lg" style="max-width: 50rem; margin-top: 6rem; margin-bottom: 6rem; padding: 2rem;">
    <div class="">
      <div class="mt-3">
        <div class="card-body" >
          <h1 class="card-title text-center fs-3">{{publication.title}}</h1>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="button button--primary" type="button" *ngIf="isAdmin"
              [routerLink]="['/publicaciones/modifpublicacion', publication.id]">Modificar</button>
            <a class="button button--danger " type="a" *ngIf="isAdmin" (click)="delete(publication.id)">Eliminar</a>
          </div>
          <hr>
          <p class="card-text text-start"><u>Fecha:</u> {{publication.start_date | date:'dd-MM-yyyy'}}</p>
          <hr>
          <h4 class="card-text">Descripción de la publicacion</h4>
          <p class="card-text">{{publication.description}}</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="button button-secondary me-md-2" type="button" [routerLink]="['/publicaciones']">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>